$gray: #e9e9e9;

.add-menu {
  position: absolute;
  height: 100vh;
  width: 20vw;
  background-color: white;
  z-index: 1;
  padding: 2%;
  overflow: hidden;
  border-right: 1px solid $gray;
  filter: drop-shadow(3px 5px 10px $gray);
}