.canvas {
  height: 100%;
  min-height: 100vh;
  background-color: #fdfdfd !important;
  background-image: linear-gradient(
                  0deg,
                  transparent 24%,
                  rgba(0, 0, 0, .08) 25%,
                  rgba(0, 0, 0, .08) 26%,
                  transparent 27%,
                  transparent 74%,
                  rgba(0, 0, 0, .08) 75%,
                  rgba(0, 0, 0, .08) 76%,
                  transparent 77%,
                  transparent
  ),
  linear-gradient(
                  90deg,
                  transparent 24%,
                  rgba(0, 0, 0, .08) 25%,
                  rgba(0, 0, 0, .08) 26%,
                  transparent 27%,
                  transparent 74%,
                  rgba(0, 0, 0, .08) 75%,
                  rgba(0, 0, 0, .08) 76%,
                  transparent 77%,
                  transparent
  );
  background-size: 50px 50px;
  width: 80vw;
  float: right;
}

.custom-node {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &-color {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  & .port[data-name="out"] {
    margin-left: 5px;
    border-top: 5px solid transparent;
    border-bottom: 5px solid transparent;
    border-left: 5px solid #c0392b;
    transition: ease-in 0.2s;
    cursor: pointer;
    opacity: 0.5;

    &:hover {
      transform: scale(1.7);
      opacity: 1;
    }
  }

  & .port[data-name="in"] {
    background: #c0392b;
    width: 5px;
    height: 5px;
    border-radius: 4px;
    border-width: 0 3px 3px 0;
    padding: 3px;
    margin-right: 3px;
    cursor: pointer;
    opacity: 0.5;
    transition: ease-in 0.2s;

    &:hover {
      transform: scale(1.7);
      opacity: 1;
    }
  }
}
